<div class="task-list">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-list__header">
    <h2>Список задач ({{ tasks.length }})</h2>
    <app-ui-input
      formControlName="taskName"
      placeholder="Введите задачу">
    </app-ui-input>
<!--    <ui-input formControlName="taskName" type="text">-->
    <button >Добавить задачу</button>
  </form>

  @for (task of tasks; track task.id) {
    <div class="task-list__item">
      <app-task [task]="task" class="task-list__item"></app-task>
    </div>
  } @empty {
    <p>Нет задач</p>
  }
</div>
