.task-list {
  &__header {
    //border-bottom: 1px solid #c7c7c7;
    margin-bottom: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__ui {
    &-input {
      display: flex;
      width: 300px;
      margin-right: 30px;
    }
  }
}
