.task-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #e9dcff;

  &__name {
    margin-right: auto;
  }

  &__ui {
    &-btn {

    }
  }
}
