/* You can add global styles to this file, and also import other style files */

@use "normalize.css";
@use "fonts.css";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
}

body {
  //background-color: var(--dark-color);
  //color: var(--light-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}
